<!-- wp:template-part {"slug":"header","theme":"fotawp"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"fotawp/featured-cta-box-overlap"} /-->
  <!-- wp:pattern {"slug":"fotawp/about-section"} /-->
  <!-- wp:pattern {"slug":"fotawp/services-section"} /-->
  <!-- wp:pattern {"slug":"fotawp/project-section"} /-->
  <!-- wp:pattern {"slug":"fotawp/call-to-action-section"} /-->
  <!-- wp:pattern {"slug":"fotawp/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"fotawp/brands-logos-section"} /-->
  <!-- wp:pattern {"slug":"fotawp/latest-post-section"} /-->
  <!-- wp:pattern {"slug":"fotawp/faq-section"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"fotawp"} /-->
