a,
button,
img,
.wp-block-group,
.wp-block-columns,
.wp-block-column {
  transition: all ease 0.23s;
}
.fotawp-swiper-holder {
  overflow: hidden;
  position: relative;
}
.fotawp-swiper-holder .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}
.wp-block-image.is-style-fotawp-boxshadow img,
.wp-block-column.is-style-fotawp-boxshadow,
.wp-block-columns.is-style-fotawp-boxshadow,
.wp-block-group.is-style-fotawp-boxshadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.wp-block-image.is-style-fotawp-boxshadow-medium img,
.wp-block-column.is-style-fotawp-boxshadow-medium,
.wp-block-columns.is-style-fotawp-boxshadow-medium,
.wp-block-group.is-style-fotawp-boxshadow-medium {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.wp-block-image.is-style-fotawp-boxshadow-large img,
.wp-block-column.is-style-fotawp-boxshadow-large,
.wp-block-columns.is-style-fotawp-boxshadow-large,
.wp-block-group.is-style-fotawp-boxshadow-large {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.wp-block-image.is-style-fotawp-boxshadow-hover img:hover,
.wp-block-column.is-style-fotawp-boxshadow-hover:hover,
.wp-block-columns.is-style-fotawp-boxshadow-hover:hover,
.wp-block-group.is-style-fotawp-boxshadow-hover:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
}

/* Style for header with banner */
.wp-block-cover.fotawpbanner-with-slantbottom:before {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 0 350px 100vw;
  border-color: transparent transparent var(--wp--preset--color--background) transparent;
  z-index: 2;
}
.wp-block-group.fotawp-overlap-ctasection {
  z-index: 2;
  position: relative;
  margin: -350px 0 -30px !important;
}
.wp-block-group.fotawp-overlap-ctasection.pattern-banner-layout {
  margin: -280px 0 0 !important;
}
.wp-block-navigation__container .wp-block-navigation__submenu-container.wp-block-navigation-submenu {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.32);
  margin-top: 15px;
  transition: all ease 0.23s;
  padding: 10px !important;
  z-index: 99;
}
.wp-block-navigation__container .wp-block-navigation__submenu-container.wp-block-navigation-submenu li {
  line-height: 1.5 !important;
}
.wp-block-navigation__container li:hover .wp-block-navigation__submenu-container.wp-block-navigation-submenu {
  margin-top: 0;
}
.wp-block-navigation__container li a:hover {
  color: var(--wp--preset--color--secondary) !important;
}
.wp-block-button {
  transition: all ease 0.23s;
}
.wp-block-button__link.wp-element-button:hover {
  opacity: 0.85;
}
footer.wp-block-template-part {
  margin: 0;
}
.taxonomy-category.is-style-categories-background-with-round a,
.taxonomy-category.is-style-categories-background-with-round-small a,
.taxonomy-category.is-style-categories-background-with-border-small-round a {
  padding: 2px 10px 4px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.taxonomy-category.is-style-categories-background-with-round-small a,
.taxonomy-category.is-style-categories-background-with-border-small-round a {
  border-radius: 4px;
}
.taxonomy-category.is-style-categories-background-with-border-small-round a {
  border: 1px solid;
}
.taxonomy-category.is-style-categories-background-with-round a:before,
.taxonomy-category.is-style-categories-background-with-round-small a:before {
  background-color: var(--wp--preset--color--primary);
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0.04;
  transition: all ease 0.23s;
  -webkit-transition: all ease 0.23s;
  -moz-transition: all ease 0.23s;
  -o-transition: all ease 0.23s;
  border-radius: 25px;
}
.taxonomy-category.is-style-categories-background-with-round-small a:before {
  border-radius: 4px;
}
.taxonomy-category.is-style-categories-background-with-round a:hover:before,
.taxonomy-category.is-style-categories-background-with-round-small a:hover:before {
  opacity: 0.06;
}
.taxonomy-category.is-style-categories-background-with-border-small-round a:hover {
  opacity: 0.67;
}
.taxonomy-category.is-style-categories-background-with-round a,
.taxonomy-category.is-style-categories-background-with-round-small a,
.taxonomy-category.is-style-categories-background-with-border-small-round a {
  margin: 0 5px 5px 0;
  display: inline-block;
}
.taxonomy-category.is-style-categories-background-with-round .wp-block-post-terms__separator,
.taxonomy-category.is-style-categories-background-with-round-small .wp-block-post-terms__separator,
.taxonomy-category.is-style-categories-background-with-border-small-round .wp-block-post-terms__separator {
  display: none;
}
/*styling post title for hover*/
.is-style-title-hover-primary-color.wp-block-post-title a:hover {
  color: var(--wp--preset--color--primary);
}
.is-style-title-hover-secondary-color.wp-block-post-title a:hover {
  color: var(--wp--preset--color--secondary);
}
.is-style-title-hover-tertiary-color.wp-block-post-title a:hover {
  color: var(--wp--preset--color--tertiary);
}
/*button hover style*/
.wp-block-button.is-style-button-hover-primary-color a:hover {
  color: var(--wp--preset--color--primary) !important;
}
.wp-block-button.is-style-button-hover-secondary-color a:hover {
  color: var(--wp--preset--color--secondary) !important;
}
.wp-block-button.is-style-button-hover-primary-bgcolor a.wp-block-button__link.wp-element-button:hover {
  background-color: var(--wp--preset--color--primary) !important;
  opacity: 1;
  color: #ffffff !important;
}
.wp-block-button.is-style-button-hover-secondary-bgcolor a.wp-block-button__link.wp-element-button:hover {
  background-color: var(--wp--preset--color--secondary) !important;
  opacity: 1;
  color: #ffffff !important;
}
.wp-block-button.is-style-button-hover-tertiary-bgcolor a.wp-block-button__link.wp-element-button:hover {
  background-color: var(--wp--preset--color--tertiary) !important;
  opacity: 1;
  color: #ffffff !important;
}
.wp-block-button.is-style-button-hover-white-bgcolor a.wp-block-button__link.wp-element-button:hover {
  background-color: #ffffff !important;
  opacity: 1;
  color: var(--wp--preset--color--text-color) !important;
}
/*Styling read more block for hover*/
.is-style-readmore-hover-primary-color.wp-block-read-more:hover,
.is-style-hide-bullet-list-link-hover-style-primary a:hover {
  color: var(--wp--preset--color--primary) !important;
}
.is-style-readmore-hover-secondary-color.wp-block-read-more:hover,
.is-style-hide-bullet-list-link-hover-style-secondary a:hover {
  color: var(--wp--preset--color--secondary) !important;
}
.is-style-readmore-hover-tertiary-color.wp-block-read-more:hover,
.is-style-hide-bullet-list-link-hover-style-tertiary a:hover {
  color: var(--wp--preset--color--tertiary) !important;
}
.is-style-readmore-hover-primary-fill.wp-block-read-more,
.is-style-readmore-hover-secondary-fill.wp-block-read-more,
.is-style-readmore-hover-tertiary-fill.wp-block-read-more {
  border-radius: 20px;
}
.is-style-readmore-hover-primary-fill.wp-block-read-more:hover {
  background-color: var(--wp--preset--color--primary) !important;
  color: #fff !important;
}
.is-style-readmore-hover-secondary-fill.wp-block-read-more:hover {
  background-color: var(--wp--preset--color--secondary) !important;
  color: #fff !important;
}
.is-style-readmore-hover-tertiary-fill.wp-block-read-more:hover {
  background-color: var(--wp--preset--color--tertiary) !important;
  color: #fff !important;
}
/*style list for ul*/
.is-style-list-style-no-bullet,
.is-style-hide-bullet-list-link-hover-style-primary,
.is-style-hide-bullet-list-link-hover-style-secondary,
.is-style-hide-bullet-list-link-hover-style-tertiary {
  list-style-type: none;
}
/*image hover effect*/
figure.wp-block-image.is-style-fotawp-image-hover-rotate img:hover {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.wp-block-image.is-style-fotawp-image-hover-pulse img:hover {
  animation: fotawpPulse 2s infinite;
  -moz-animation: fotawpPulse 2s infinite;
  -o-animation: fotawpPulse 2s infinite;
  -webkit-animation: fotawpPulse 2s infinite;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
}
.wp-block-image.is-style-fotawp-image-pulse img {
  animation: fotawpPulse 2s infinite;
  -moz-animation: fotawpPulse 2s infinite;
  -o-animation: fotawpPulse 2s infinite;
  -webkit-animation: fotawpPulse 2s infinite;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
}
@keyframes fotawpPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/*brands logo section*/
.wp-block-gallery.fotawp-brands-logos .wp-block-image {
  align-items: center;
}
.wp-block-gallery.is-style-enable-grayscale-mode-on-image .wp-block-image img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all ease-in 0.23s;
  -webkit-transition: all ease-in 0.23s;
  -moz-transition: all ease-in 0.23s;
  -o-transition: all ease-in 0.23s;
}
.wp-block-gallery.is-style-enable-grayscale-mode-on-image .wp-block-image img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.wp-site-blocks > * + * {
  margin-block-start: 0 !important;
}

.wp-block-group.about-section-topslant:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 1;
  clip-path: polygon(-35% 40.25%, 100% 0%, 100% 101.75%, 0% 114.75%, 0% 47.5%);
  background: linear-gradient(192.26deg, var(--wp--preset--color--background-alt) 0%, var(--wp--preset--color--background) 100%);
}
.wp-block-group.about-section-topslant {
  position: relative;
  z-index: 1;
}
.fotawp-duotone-primary {
  filter: var(--wp--preset--duotone--primary);
}
.wp-block-social-links.is-style-social-icon-border li a {
  border: 1px solid;
  border-radius: 50%;
}
.is-style-fotawp-post-featured-image-overlap.wp-block-post-featured-image {
  margin-top: -250px;
  z-index: 1;
  margin-block-start: -250px !important;
}
.wp-block-cover.is-style-fotawp-cover-round-overlap {
  border-radius: 10px;
  overflow: hidden;
  margin-top: -250px;
  margin-block-start: -250px !important;
  z-index: 1;
}
.is-style-fotawp-page-list-bullet-hide-style.wp-block-page-list,
.wp-block-categories-list.is-style-fotawp-categories-bullet-hide-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wp-block-cover.is-style-fotawp-cover-round-style {
  border-radius: 7px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .wp-block-navigation__container {
    line-height: 1.5 !important;
    font-size: 18px;
    font-weight: 600;
  }
  .wp-block-navigation__container .wp-block-navigation__submenu-container.wp-block-navigation-submenu {
    box-shadow: none;
    margin-top: 0 !important;
    padding-left: 30px !important;
  }
  .wp-block-navigation__container .wp-block-navigation__submenu-container.wp-block-navigation-submenu li {
    margin: 5px 0;
    font-size: 15px;
    font-weight: 400;
  }
  .wp-block-navigation__container a .wp-block-navigation-item__label {
    position: relative;
  }
  .wp-block-navigation__container a .wp-block-navigation-item__label:after {
    content: "";
    width: 0;
    left: 0;
    height: 2px;
    background: var(--wp--preset--color--tertiary);
    position: absolute;
    top: 30px;
    transition: all ease 0.23s;
  }
  .wp-block-navigation__container a:hover .wp-block-navigation-item__label:after {
    width: 100%;
  }
  .wp-block-navigation-item.has-child.open-on-hover-click.wp-block-navigation-submenu a {
    border-bottom: 2px solid;
  }
  .wp-block-navigation-item.has-child.open-on-hover-click.wp-block-navigation-submenu a:hover {
    border-color: var(--wp--preset--color--tertiary);
  }
  .wp-block-navigation-item.has-child.open-on-hover-click.wp-block-navigation-submenu ul li a {
    border-bottom: 0;
  }
  .wp-block-navigation__container li {
    margin: 0 0 -12px;
    padding: 0;
  }
}
