RECIEVER_EMAIL_ADDRESS=             # Ändra
SENDER_EMAIL_ADDRESS=               # Ändra
SMTP_SERVER=smtp.gmail.com:587      # Låt vara som det är
EMAIL_ADDRESS=                      # Ändra
EMAIL_PASSWORD=                     # Ändra 

GITHUB_REPO=mindriddler/terraform_ansible_pipeline       # Ändra/Låt vara som det är
GITHUB_TOKEN=                       # Ändra
PR_TITLE="Automated PR: Tests Passed # Ändra/Låt vara som det är"
PR_BODY="This pull request is automatically created because all tests passed." # Låt vara som det är
PR_BASE_BRANCH=main                 # Ändra/Låt vara som det är
PR_HEAD_BRANCH=staging              # Ändra/Låt vara som det är

# Variables för mysql
MYSQL_ROOT_PASSWORD=     # Ändra (Use a simple but strong password: MYpassword123!)
MYSQL_DATABASE=wordpress # Låt vara som det är
MYSQL_USER=wordpress     # Låt vara som det är
MYSQL_PASSWORD=          # Ändra (Use a simple but strong password: MYpassword123!)

# Variables för phpmyadmin
PMA_USER=root        # Låt vara som det är
PMA_PASSWORD=        # Ändra
PHPMYADMIN_PORT=8080 # Låt vara som det är

# Variables för wordpress
WORDPRESS_DB_USER=wordpress # Låt vara som det är
WORDPRESS_DB_PASSWORD=      # Ändra
WORDPRESS_DB_NAME=wordpress # Låt vara som det är
WORDPRESS_TABLE_PREFIX=wp_  # Låt vara som det är
WORDPRESS_PORT=8000         # Låt vara som det är

# Various variables
PROJECT_NAME=gear5 # Låt vara som det är
