requests

GRUPP ASSIGNMENT:
Ni skall göra ett förslag till ur hur miljöerna skall byggas (PDF) och hur driftsättning från dev till produktion skall gå till (SLIDES)

Del 1 - Inlämningsuppgift (PDF - inlämning)
	Ni skall planera för installation och drift av en produktionsmiljö utav en enkel applikation (wordpress).
	Dev/Test/Staging behöver inte inkluderas i detta steg.
	Brandvägg, Backup, Access, Monitoring, DNS, Autostart, Uppdateringar ...
	
Del 2 - Driftsättninng av kod (Slides)
	Ni skall nu planera för hur koden går från utveckling (ex. LAMP) till produktion. Förslagsvis så går det via någon from av test/statging
	server eller flera. Den här uppgiften lämnar mycket utrymme för egna antagningar och upppfinningar. Ni kommer få svar på flera frågor individuellt
	slutet av presentationen.