<!-- wp:template-part {"slug":"header","theme":"fotablog"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"var:preset|spacing|40","bottom":"var:preset|spacing|70","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained","contentSize":"1080px"}} -->
<main class="wp-block-group" style="padding-top: 0; padding-right: var(--wp--preset--spacing--40); padding-bottom: var(--wp--preset--spacing--70); padding-left: var(--wp--preset--spacing--40)">
  <!-- wp:pattern {"slug":"fotablog/featured-banner-block"} /-->
  <!-- wp:pattern {"slug":"fotablog/featured-cta"} /-->
  <!-- wp:pattern {"slug":"fotablog/featured-post-block"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fotablog"} /-->
