<VirtualHost *:80>
    ServerAdmin webmaster@example.com
    DocumentRoot /var/www/wordpress
    ServerName 165.22.78.38

    <Directory /var/www/wordpress/>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
